{# Overwrites the index admin template to add a link to the export site #}
{# https://docs.djangoproject.com/en/4.0/ref/contrib/admin/#overriding-vs-replacing-an-admin-template #}

{% extends "admin/index.html" %}
{% load i18n admin_urls %}

{% block content %}
    <div id="content-main">
        {% include "admin/app_list.html" with app_list=app_list show_changelinks=True %}
        {% if perms.management.export_data %}
            <div class="help">You can export all data in a human-readable format using
                <a href="{% url 'admin:export' %}">this form</a>.
            </div>
        {% endif %}
    </div>
{% endblock %}