html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.center {
    display: block;
    margin: auto;
    vertical-align: middle;
}

.sizing {
    height: 100%;
    width: 100%;
}

.zoom {
	transition: transform .3s; /* Animation */
	margin: 0 auto;
  }

.zoom:hover {
	transform: scale(1.1); /* (110% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

a {
    position: relative;
}

a:after {
    content: '';
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 100));
    opacity: 0;
    border-radius: 1px;

    position: absolute;
    bottom: -50px;
    left: 0;

    width: 0;
    height: 2px;

    transition: width 0.3s ease-in-out 0s, opacity 0.2s linear 0.2s;
}

a:hover:after {
    width: 105%;
    opacity: 1;

    transition: width 0.3s ease-out, opacity 0.1s ease-out;
}
