{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{# See: django/contrib/admin/templates/admin/change_password.html #}
{# See: https://docs.djangoproject.com/en/4.0/topics/forms/#working-with-form-templates #}

{# Styles #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block bodyclass %}
    {{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} change-form
{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; Change editor
    </div>
{% endblock %}

{# A custom interface to match the style of the other admin forms #}
{% block content %}
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}
                        {% translate "Please correct the error below." %}
                    {% else %}
                        {% translate "Please correct the errors below." %}
                    {% endif %}
                    {{ form.non_field_errors }}
                </p>
            {% endif %}

            <fieldset class="module aligned">
                {# List each object to be modified, provide a link to their details and show the current editor #}
                <div class="form-row">
                    <label class="required">Objects:</label>
                    <div class="readonly">
                        <table>
                            <thead>
                            <tr>
                                <th>{{ opts.verbose_name|capfirst }}</th>
                                <th>Editor</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for object in objects %}
                                <tr>
                                    <td>
                                        <a href="{% url opts|admin_urlname:'change' object.pk|admin_urlquote %}">
                                            {{ object }}
                                        </a>
                                    </td>
                                    <td>
                                        {{ object.editor }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {# Show a selection for the new editor #}
                <div class="form-row">
                    {{ form.editor.errors }}
                    {{ form.editor.label_tag }} {{ form.editor }}
                    {% if form.editor.help_text %}
                        <div class="help">{{ form.editor.help_text|safe }}</div>
                    {% endif %}
                </div>
            </fieldset>

            <div class="submit-row">
                <input type="submit" value="Save" class="default">
            </div>
        </form>
    </div>
{% endblock %}