{% extends "admin/base_site.html" %}
{% load i18n static %}

{# See: django/contrib/admin/templates/admin/change_password.html #}

{# Styles #}
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}">
{% endblock %}

{% block bodyclass %}
    {{ block.super }} change-form
{% endblock %}

{# A custom interface to match the style of the other admin forms #}
{% block content %}
    <div id="content-main">
        <form method="post">
            {% csrf_token %}
            <div>
                <p>
                    The collection of files can take some time.
                    Please be patient after you have started the export process.
                </p>
                <p>
                    The Windows Explorer may have problems opening the downloaded .zip file.
                    Please try opening the file with, e.g., <a href="https://www.7-zip.org/">7-Zip</a> instead.
                </p>
            </div>
            <div class="submit-row">
                <input type="submit" value="Start export" class="default">
            </div>
        </form>
    </div>
{% endblock %}