{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Kunstforum</title>

    <link rel="icon" href="{% static 'management/favicon.ico' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'management/style.css' %}">
    <link rel="stylesheet" href="{% static 'management/reset.css' %}">
</head>
<body>
    <div class="container">
        <a href="https://www.tu-darmstadt.de/kunstforum/index.de.jsp" target="_blank">
            <img src="{% static 'management/logo.svg' %}" alt="KuTUDa Logo" class="center sizing zoom">
        </a>
    </div>
</body>
</html>